<f:layout name="Default" />

<f:section name="HeaderPrefix">

</f:section>
<f:section name="Title">
	<f:translate locale="{langDetector.language}" id="product.title">Products (nt)</f:translate>
</f:section>
<f:section name="HeaderRight">
	<div class="btn-group btn-group-right">
		<f:link.action class="btn btn-primary" action="new"><i class="icon-plus icon-white"></i> <f:translate locale="{langDetector.language}" id="control.new">New (nt)</f:translate></f:link.action>
		<f:link.action
				class="btn btn-warning"
				action="inactive"
				controller="Product">
			<i class="icon-list icon-white"></i>&nbsp;<f:translate locale="{langDetector.language}" id="product.inactive">Inactive (nt)</f:translate> <f:translate locale="{langDetector.language}" id="product.title">Products (nt)</f:translate>
		</f:link.action>
	</div>



</f:section>

<f:section name="Content">
	<f:if condition="{products}">
		<f:then>
			<table class="table table-striped slimInput">
				<tr>
					<th><f:translate locale="{langDetector.language}" id="product.name">Name (nt)</f:translate></th>
					<th><f:translate locale="{langDetector.language}" id="product.price">Price (nt)</f:translate></th>
					<th><f:translate locale="{langDetector.language}" id="product.averagePrice">Average Price (nt)</f:translate></th>
					<th><f:translate locale="{langDetector.language}" id="product.crateSize">Crate size (nt)</f:translate></th>
					<th><f:translate locale="{langDetector.language}" id="product.purchasePrice">Purchase Price (nt)</f:translate></th>
					<th><f:translate locale="{langDetector.language}" id="product.deposit">Deposit (nt)</f:translate></th>
					<th><f:translate locale="{langDetector.language}" id="product.position">Position (nt)</f:translate></th>
					<th>&nbsp;</th>
				</tr>
				<f:for each="{products}" as="product">
					<tr>
						<td><f:link.action action="edit" arguments="{product: product}">{product.name}</f:link.action></td>
						<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{product.price}</f:format.currency></td>
						<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{product.averagePrice}</f:format.currency></td>
						<td>{product.crateSize}</td>
						<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{product.purchasePrice}</f:format.currency></td>
						<td><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{product.deposit}</f:format.currency></td>
						<td>{product.position}</td>
						<td>
							<f:link.action class="btn-small btn-primary" action="edit" arguments="{product: product}"><i class="icon-pencil icon-white"></i> <f:translate locale="{langDetector.language}" id="control.edit">Edit (nt)</f:translate></f:link.action>
							<f:link.action class="btn-small btn-warning" action="deactivate" arguments="{product: product}"><i class="icon-off icon-white"></i> <f:translate locale="{langDetector.language}" id="control.deactivate">Dectivate (nt)</f:translate></f:link.action>
						</td>
					</tr>
				</f:for>
			</table>
		</f:then>
		<f:else>
			<p><f:translate locale="{langDetector.language}" id="product.noProducts">No products created yet. (nt)</f:translate></p>
		</f:else>
	</f:if>
</f:section>