{namespace da=CGROSS\Drinkaccounting\ViewHelpers}
<f:layout name="Default" />

<f:section name="HeaderPrefix">
	<f:link.action action="index"><f:translate locale="{langDetector.language}" id="purchase.title.singular">Purchase (nt)</f:translate></f:link.action>
</f:section>
<f:section name="Title">
	{purchase.invoiceNumber}
</f:section>
<f:section name="HeaderRight">
	<f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{purchase.sum}</f:format.currency>
</f:section>

<f:section name="Content">
	<f:form.validationResults for="newPurchasePosition">
		<f:if condition="{validationResults.flattenedErrors}">
			<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
				<div class="validationerror">
					<b>{propertyPath}:</b>
					<f:for each="{errors}" as="error">
						{error}
					</f:for>
				</div>
			</f:for>
		</f:if>
	</f:form.validationResults>
	<div class="row">
		<div class="span6">
			<table class="table table-striped noHover slimInput">
				<tr>
					<th><f:translate locale="{langDetector.language}" id="product.title.singular">Product (nt)</f:translate></th>
					<th><f:translate locale="{langDetector.language}" id="purchase.position.crateAmount">Crates (nt)</f:translate></th>
					<th><f:translate locale="{langDetector.language}" id="purchase.position.bottleAmount">Bottles (nt)</f:translate></th>
					<f:if condition="{edit}">
						<f:then>
							<th><f:translate locale="{langDetector.language}" id="control.options">Options (nt)</f:translate></th>
						</f:then>
					</f:if>
				</tr>
				<f:for each="{purchase.purchasepositions}" as="purchasePosition" iteration="purchaseIterator">
					<tr>
						<td>{purchasePosition.product.name}</td>
						<td>
							<f:if condition="{edit}">
								<f:then>
									<da:ajax class="span1" object="{purchasePosition}" property="crateAmount" arguments="{purchase: purchase}" action="drinkaccounting/purchasePosition/ajaxEdit"/>
								</f:then>
								<f:else>
									{purchasePosition.crateAmount}
								</f:else>
							</f:if>
						</td>
						<td>{purchasePosition.bottleAmount}</td>

						<f:if condition="{edit}">
							<f:then>
								<td>
									<f:link.action
											action="remove"
											class="btn-small btn-danger"
											controller="PurchasePosition"
											arguments="{purchase: purchasePosition.purchase, purchasePosition: purchasePosition}"><i class="icon-remove icon-white"></i>&nbsp;<f:translate locale="{langDetector.language}" id="control.delete">Delete (nt)</f:translate>
									</f:link.action>
								</td>
							</f:then>
						</f:if>


					</tr>
				</f:for>
				<f:if condition="{edit}">
					<f:then>
						<f:form controller="PurchasePosition" arguments="{purchase: purchase}" action="create" name="newPurchasePosition" object="{newPurchasePosition}">
							<tr>
								<td>
									<f:form.select class="span2" property="product" options="{products}" optionLabelField="name" />
								</td>
								<td>
									<f:form.textfield class="span1" property="crateAmount" id="crateAmount" />
								</td>
								<td></td>
								<td>
									<f:form.button class="btn btn-primary" type="submit"><i class="icon-plus icon-white"></i> <f:translate locale="{langDetector.language}" id="control.create">Create (nt)</f:translate></f:form.button>
								</td>
							</tr>
						</f:form>
					</f:then>
				</f:if>

			</table>
		</div>
		<div class="span4 offset2">
			<table class="table table-striped slimInput noHover">
				<tr>
					<th><f:translate locale="{langDetector.language}" id="purchase.date">Date (nt)</f:translate></th>
					<td>
						<f:if condition="{edit}">
							<f:then>
								<da:ajax
										object="{purchase}"
										property="date"
										action="drinkaccounting/purchase/ajaxUpdate"/>
							</f:then>
							<f:else>
								{f:format.date(date: purchase.date, format: 'Y-m-d')}
							</f:else>
						</f:if>

					</td>
				</tr>

				<tr>
					<th><f:translate locale="{langDetector.language}" id="purchase.invoiceNumber">InvoicNr. (nt)</f:translate></th>
					<td>
						<f:if condition="{edit}">
							<f:then>
								<da:ajax
									object="{purchase}"
									property="invoiceNumber"
									action="drinkaccounting/purchase/ajaxUpdate"/>
							</f:then>
							<f:else>
								{purchase.invoiceNumber}
							</f:else>
						</f:if>
					</td>
				</tr>

				<tr>
					<th><f:translate locale="{langDetector.language}" id="purchase.sum">Sum (nt)</f:translate></th>
					<td>
						<f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{purchase.sum}</f:format.currency>
					</td>
				</tr>
			</table>
		</div>
	</div>
</f:section>